@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&family=Kalam&family=Poppins:wght@100;300;400;500;600&display=swap');

.gününhadisi_home
{
    background-color: #e4d6ca ;
    border-radius: 20px;
    padding: 3vh;

}
.gununhadisi_home_yazi
{
    text-align: center;
    margin-top: 1% !important;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5rem;
  }
  
  
  .container_text{
    width: 140rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  
    border-radius: 2rem;
    background-color: #e4d6ca;
    transition: 0.5s;
  
    padding: 0 0 2rem 0;
  }
  
  
  .container_text h2 {
    font-size: 5rem;
    margin: 2rem 0 0 0 ;
    font-family: 'Kalam', cursive;
  }
  
  .container_text span{
    display: inline-block;
    width:120rem ;
    color: black;
  
  }
  
  .sayac{
    height: 100px;
    width: 100%;
    margin: 4rem 0 0 0 ;
  }
  
  .sayac_ekran{
    margin: auto;
    width: 400px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 5rem;
    display: absolute;
  }
  
  
  .sayac img {
   position: absolute;
    width: 450px;
    height: 130px;
    margin-top: -25px;
    margin-left: -25px;
  
  
  }
  .sayac_ekran span {
    position: absolute;
    font-size: 80px;
    display: inline-block;
    width: 400px;
    text-align: center;
  }
  
  .button{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  
  .button button{
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    border-radius: 50rem;
    background-color: #00cd1f38;
    transition: 0.5s;
  }
  
  .button button:hover{
    scale: 1.05;
  
    transition: 0.5s;
  }
  
  .button button:active{
    scale: 0.95;
  
    transition: 0.5s;
  }
  
  .button img {
    width:27.3rem ;
    height: 27.3rem;
    margin-top: -4.23rem;
    margin-left: -4.34rem;
    transition: 0.5s;
  }
  
  .el{
    width: 120px !important;
    height: 120px !important;
    margin-top: -20rem !important;
    margin-left: -6rem !important;
    position: absolute;
  
  }
  
  @media only screen and (max-width: 576px) and (min-width:480px) { /* iki piksel aralığındaki piksellere css vermek için */

  }
  @media only screen and (max-width: 480px){ /* 480 px in altındaki tüm pikseller için geçerli css */
    
  }
  