@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&family=Kalam&family=Poppins:wght@100;300;400;500;600&display=swap');





.gününhadisi_home
{
    background-color: #e4d6ca ;
    border-radius: 20px;
    padding: 3vh;

}

.gununhadisi_home_yazi
{
    text-align: center;
    margin-top: 1% !important;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5rem;
  }
  
  
  .container_text{
    width: 140rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  
    border-radius: 2rem;
    background-color: #e4d6ca;
    transition: 0.5s;
  
    padding: 0 0 2rem 0;
  }
  
  
  .container_text h2 {
    font-size: 5rem;
    margin: 2rem 0 0 0 ;
    font-family: 'Kalam', cursive;
  }
  
  .container_text span{
    display: inline-block;
    width:120rem ;
    color: black;
  
  }
  
  .sayac{
    height: 100px;
    width: 100%;
    margin: 4rem 0 0 0 ;
  }
  
  .sayac_ekran{
    margin: auto;
    width: 400px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 5rem;
    display: absolute;
  }
  
  
  .sayac img {
   position: absolute;
    width: 450px;
    height: 130px;
    margin-top: -25px;
    margin-left: -25px;
  }
  .sayac_ekran span {
    position: absolute;
    font-size: 80px;
    display: inline-block;
    width: 400px;
    text-align: center;
  }
  
  .button{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }
  
  
  .button .tik{
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    border-radius: 50rem;
    transition: 0.5s;
    cursor: pointer;
    border: 0;
  }
  
  .button .tik:hover{
    scale: 1.05;
    transition: 0.5s;
  }
  
  .button .tik:active{
    scale: 0.95;
  
    transition: 0.5s;
  }
  
  .button img {
    width:27.3rem ;
    height: 27.3rem;
    margin-top: -4.23rem;
    margin-left: -4.34rem;
    transition: 0.5s;
  }
  
  .el{
    width: 120px !important;
    height: 120px !important;
    margin-top: -20rem !important;
    margin-left: -6rem !important;
    position: absolute;
  
  }
  .resfres{
    font-size: 3rem   !important;
  }
  .yenile{
    background-color: rgb(227, 227, 227);
    display: inline-block !important;
    border-radius: 50px;
    position: absolute;
    margin-left: 30rem;
    justify-content: center;
    text-align: center;
    padding: 5px;
    transition: 0.5s;
  }
  
  .yenile:hover{
    scale: 1.1;
  }
  .yenile:active{
    scale: .90;
  }

  .kaydet{
    font-size: 15pt;
    color:#000000;
    bottom: 30px;
    right: 30px;
    position: fixed;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
}
  .home_son_zikir{
    background-color: #e4d6ca;
    padding: 20px;
    display: inline-block;
    border-radius: 25px;
    margin-top: 1rem;

  }

  .zikir_ismi{
    font-size: 2rem;
  }

  .zikir_sayi{
    font-size: 2rem;
  }







  @media only screen and (max-width: 576px) and (min-width:480px) { /* iki piksel aralığındaki piksellere css vermek için */

  }
  @media only screen and (max-width: 500px){ /* 480 px in altındaki tüm pikseller için geçerli css */
    .home_type{
      font-size: 2.5rem !important;
    }
    .gununhadisi_home_yazi{
      font-size:1.5rem !important;
    }
    .sayac_ekran{
      width: 230px;
      height: 60px;
    }
    .sayac img {
      position: absolute;
       width: 260px;
       height: 75px;
       margin-top: -13px;
       margin-left: -15px;
     }

     .sayac_ekran span {
      font-size: 40px;
      display: inline-block;
      width: 220px;
      margin-top: 8px;

    }

    .button .tik{
      width: 15rem;
      height: 15rem;
    }

    .el{
      width: 80px !important;
      height: 80px !important;
      margin-top: -15rem !important;
      margin-left: -4rem !important;
    }

    .button img {
      width:20.4rem ;
      height: 20.4rem;
      margin-top: -3.2rem;
      margin-left: -3.4rem;
    }

    .sayac{
      margin: 4rem 0 0 0 ;
    }

    .button{
      margin-top: 3rem;
    }
    .yenile
    {
      margin-left: 25rem;
    }


   .zikir_ismi{
      font-size: 1.5rem;
    }
  
    .zikir_sayi{
      font-size: 1.5rem;
    }
  
    



  }
  