@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&family=Kalam&family=Poppins:wght@100;300;400;500;600&display=swap');

.gününhadisi_home
{
    background-color: #e4d6ca ;
    border-radius: 20px;
    padding: 3vh;

}
.gununhadisi_home_yazi
{
    text-align: center;
    margin-top: 1% !important;
}