.arkaplan-mobil
{
  display: none;

}

@media only screen and (max-width: 830px) {

 
    body{
      background-image: url("../img/ayasofya.jpg");
      background-repeat: no-repeat;
      background-size: 150%;
      background-attachment: fixed;
      background-position: center 80%; 

    }




  
    .arkaplan-mobil {
      display: block !important;
      padding-right:2rem ;
    }

    .list .list-item  {
      
      margin: 1rem !important;
      background-color: bisque;
      border-radius: 1rem;
    }
    .yazii
    {
      font-size: 5rem !important;
    }
 


  }