@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=IBM+Plex+Mono:ital@1&family=Kalam&family=Poppins:wght@100;300;400;500;600&display=swap');
/* ferhat css */
.zikirlerim_zikir_1
{
    background-color: #F0E3D8;
    border-radius: 10px;
    margin-top: 15px !important;
}
.zikir_skor_ve_butonlar
{
    display: flex;
    justify-content:space-between;
}

.buton_devamet
{
    background-color: transparent;
    border-radius: 8px;
    border: #6e6e6e  2px solid;
    font-size: 15px;
    transition: 0.8s;
    text-align: center;
    margin-right: 20px;
}
.buton_sil
{
    background-color: transparent;
    border-radius: 8px;
    border: #6e6e6e  2px solid;
    font-size: 15px;
    transition: 0.8s;
    text-align: center;
    cursor: pointer;
}




.container_zikirler{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}
.container_zikirler h1{
    font-size: 35px;
    font-family:dancing script;
    font-size: 4.5rem;

}
.container_zikirler hr{
    height: 2px;
    background-color: blanchedalmond;
    border-radius: 30px;
}

.zikir_1 {
    background-color: #F0E3D8;
    width: 100%;
    padding: 2rem;
    font-size: 2.5rem;
    border-radius: 20px;
    margin: 20px;
    transition: 0.8s;
    position: relative;
}


.zikir_1:hover {
    background-color: #e1d5c9;
}
.zikir_anlami{
    display: flex;
}



.zikir_text{
    display: flex;
  

    
}

.zikir_adi{
    min-width: 10rem;
    max-width: 80rem;
    display:inline-block;


}



.zikir_skor_ve_butonlar .btn{
    background-color: transparent;
    border-radius: 8px;
    border: #6e6e6e  2px solid;
    width: 10rem;
    font-size: 2rem;
    transition: 0.8s;
    text-align: center;

}


.zikir_skor_ve_butonlar .btn:hover{
    scale: 1.1;
    border: rgb(0, 118, 20) 1px solid;
    cursor: pointer;
}



.zikir_btn span{
    min-width: 15rem;
    max-width: 20rem;
}





