
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');


*
{
    text-decoration: none;
    list-style: none;
    margin: 0;
    scroll-behavior: smooth;
}

.font{
    font-family: 'Amiri Quran', serif;
    font-size: 20px;
}



